.hero-section {
    background-color: rgb(0, 88, 0);
    width: 100%;
    height: 100vh;
}

.txt {
    font-family: Lexend, sans-serif;
}

.container-fluid {
    width: 1200px;
    height: auto;
}

.heading {
    font-size: 95px;
    font-family: lexend, sans-serif;
}

.paragraph {
    margin-top: 20px;
    color: white;
    font-size: 15px;
}

.btn {
    width: 200px;
    height: 50px;
    background-color: rgb(255, 162, 0);
    border: none;
    padding: 12px;
    color: #000000;
}

.main-txt {
    margin-top: 120px;
}

.button {
    margin-top: 80px;
}

.dollar h {
    color: aqua;
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.main-recipe {
    text-align: center;
    margin-top: 60px;
}

.cards {
    margin-top: 80px;
}

.yellow-container {
    background-color: rgb(228, 170, 10);
    height: 100vh;
}

.red {
    width: 250px;
    height: 60px;
    background-color: red;
    align-items: center;
    color: #fff;
    gap: 30px;
}